=form_tag "/classifications/classify", method: :post do
  .form-group
    .input-group.mb-3
      .input-group-prepend
        %span.input-group-text Enter the sentence here
      =text_field_tag 'Classify', '', class: 'form-control', type: 'text'

  =submit_tag 'Classify', :class => "btn btn-success"
