<!DOCTYPE html>
<html>
  <head>
    <title>MachineLearning</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Classify Learner</h1>
      <p class="lead">This is a classifying app which gets better the more you use it.</p>
    </div>
  </div>

  <%= yield %>
  </body>
</html>
